<!-- 
============================================
Title: index.ejs
Author: Erin Brady
Date: 4 January 2023
Description: Express.js Output for Portfolio About Page
============================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/site.css">
</head>
<body>

    <!-- Navigation Bar -->
    <%- include('./partials/_header.ejs') %>

    <!-- About Page Main Content -->
    <main>
        <div id="bio">
            <p>Hi! I'm Erin Brady; a twenty-six year old living her best life in New York City.</p>
                
            <p>I am currently an Applications Developer specializing in Front End web development on Marsh McLennan's Corporate Information Solutions (CIS) Innovation team. I work to develop and optimize the design and usability of Global Finance Enterprise applications as part of an integral initiative to modernize and automate cumbersome financial processes. Additionally, I am studying Web Development at Bellevue University's accelerated online Bachelor's degree program.</p>

            <p>In my free time, I prefer to disconnect from screens by hiking through New York and New Jersey's parks and trailways. I enjoy to wander through the woods either by myself, with my partner or as a member of a local hiking group for women of color. On my hikes I'll usually be birdwatching, foraging, and sometimes climbing! When I'm not immersed in nature, I'll be exploring one of the city's many museums, art galleries, libraries, vintage shops, or family-owned restaurants. At home, I enjoy reading, cooking and playing video games like League of Legends.</p>
        </div>

        <img src="/images/image2.jpeg">
        <img src="/images/image1.jpeg">
        <img src="/images/image4.jpeg">
    </main>

    <!-- Footer -->
    <%- include('./partials/_footer.ejs') %>
</body>
</html>
