<!-- 
============================================
Title: index.ejs
Author: Erin Brady
Date: 2 June 2023
Description: Express.js Output for DevOps Presentations Page
============================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&family=Unica+One&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/devops-presentations.css">
</head>
<body>

    <!-- Navigation Bar -->
    <%- include('./partials/_header.ejs') %>

    
    <!-- Projects Page Main Content -->
    <main class="devops-grid-container">
        <div class="card devops1-2">
            <video controls autoplay reload="none">
                <source src="/devops-presentations/presentation1.2.mp4" type="video/mp4" />
            </video>
            <caption>Presentation 1.2: The Technology Value Stream</caption>
        </div>

        <div class="card devops2-2">
            <video controls autoplay reload="none">
                <source src="/devops-presentations/presentation2.2.mp4" type="video/mp4" />
            </video>
            <caption>Presentation 2.2: The Two-Pizza Team Rule</caption>
        </div>

        <div class="card devops3-2">
            <video controls autoplay reload="none">
                <source src="/devops-presentations/presentation3.2.mp4" type="video/mp4" />
            </video>
            <caption>Presentation 3.2: Testing</caption>
        </div>
    </main>