<!-- 
============================================
Title: index.ejs
Author: Erin Brady
Date: 29 January 2023
Description: Express.js Output for Portfolio Landing Page
============================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&family=Unica+One&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/landing.css">
</head>
<body>

    <!-- Navigation Bar -->
    <%- include('./partials/_header.ejs') %>

    <!-- Landing Page Main Content -->
    <main class="grid-container">
        <div class="col col1"></div>
        
        <div class="col col2">
            <h2 class="display">Hi there; Welcome!</h2>
            <br>
            <h4>I'm Erin Brady.</h4>
            <p>I create intuitive and attractive designs and efficiently develop websites and applications.</p>
        </div>

        <div class="col col3"></div>
    </main>

    <!-- Footer -->
    <%- include('./partials/_footer.ejs') %>
</body>
</html>
