<!-- 
============================================
Title: index.ejs
Author: Erin Brady
Date: 29 January 2023
Description: Express.js Output for Portfolio Landing Page
============================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/landing.css">
</head>
<body>

    <!-- Navigation Bar -->
    <%- include('./partials/_header.ejs') %>

    <!-- Landing Page Main Content -->
    <main style="display: flex; width: 85%; margin: 20px auto; justify-content: space-around; align-items: center;">
        <img src="/images/image0.jpeg" style="border-radius: 100%; height: 350px;">
        
        <div style="width: 40%;">
            <h4>Welcome to Erin Brady's Web Development Portfolio.</h4>
            <p>A collection of assignments and projects from Bellevue University's Bachelor of Science degree program in Web Development.</p>
        </div>

        <img src="https://images.unsplash.com/photo-1629670222663-349118f2afb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="A subway train zooms past some trees and apartment buildings through the city.">
    </main>

    <!-- Footer -->
    <%- include('./partials/_footer.ejs') %>
</body>
</html>
