/* 
============================================
Title: projects.css
Author: Erin Brady
Date: 15 February 2023
Description: Portfolio: Styling for Projects page
============================================
*/

.grid-container {
    grid-auto-flow: row;
    place-items: center;
    row-gap: 30px;
    margin: 50px auto;
    padding: 10px;
}

.card {
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
