/* 
============================================
Title: resume.css
Author: Erin Brady
Date:  15 February 2023
Description: Portfolio: Styling for Resume page
============================================
*/