/* 
============================================
Title: site.css
Author: Erin Brady
Date: 4 February 2023
Description: Global Styling for Portfolio
============================================
*/

:root {
    --primary-color: #592B21; /* Header, Buttons, Footer */
    --accent-color: #DF9E8F; /* Borders, Hover, underlines */
    --warn-color: #D96B51; /* Messages */
}

body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: aliceblue;
}

/* Navbar Styles */
nav, footer {
    width: 100vw - 60px;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    background-color: var(--primary-color);
}

#logo {
    justify-self: flex-start;
    font-size: 30px;
    font-family: 'Unica One', cursive;
    text-decoration: none;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 40%;
}

.nav-link {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    padding: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    color: var(--accent-color);
  }

/* Banners */
.banner {
    width: 90vw;
    height: 60vh;
    margin-top: 10px;
    display: flex;
}

/* Grid layout & Content sections */

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    grid-template-columns: repeat(3, 30% [col-start]);
    grid-template-rows: repeat(3, 30% [row-start]);
    grid-gap: 5%;
    
}

.col {
    display: flex;
    align-items: center;
}

.col1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
}

.col2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}

.col3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 3;
}

.card {
    width: 50%;
    margin: 0 auto 50px;
    text-align: center;
    box-shadow: 0 5px 10px lightgray;
    padding: 10px 30px 20px;
    background-color: white;
}

/* Text Styles */
.display {
    font-family: 'Unica One', cursive;
}

a {
    color: var(--primary-color);
}

a:hover {
    background-color: var(--accent-color);
    color: black;
    text-decoration: underline;
    cursor: pointer;
}


/* Buttons */
button {
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: var(--accent-color);
    color: black;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
}

footer a {
    color: white;
}
